doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        link(href="main.css", rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title NEW SITE
    body
        #container
            .wrapper
                .content__product__wrap
                    .content__img
                        img(src="http://placehold.it/225x225")
                    .content__product
                        .content__productName
                            p.content--productName Рюкзак <br>"Ready for scool"
                        .content__productPrice
                            p.content--productPrice 245.50 <sub>грн</sub>
                .content__product__wrap
                    .content__img
                        img(src="http://placehold.it/225x225")
                    .content__product
                        .content__productName
                            p.content--productName Рюкзак "Мадонна"
                        .content__productPrice
                            p.content--productPrice 700 <sub>грн</sub>
                .content__product__wrap
                    .content__img
                        img(src="http://placehold.it/225x225")
                    .content__product
                        .content__productName
                            p.content--productName Рюкзак "Мадонна"
                        .content__productPrice
                            p.content--productPrice 245.50 <sub>грн</sub>
                .content__product__wrap
                    .content__img
                        img(src="http://placehold.it/225x225")
                    .content__product
                        .content__productName
                            p.content--productName Рюкзак "Мадонна"
                        .content__productPrice
                            p.content--productPrice 245.50 <sub>грн</sub>
                .content__product__wrap
                    .content__img
                        img(src="http://placehold.it/225x225")
                    .content__product
                        .content__productName
                            p.content--productName Рюкзак "Мадонна"
                        .content__productPrice
                            p.content--productPrice 245.50 <sub>грн</sub>
                .content__product__wrap
                    .content__img
                        img(src="http://placehold.it/225x225")
                    .content__product
                        .content__productName
                            p.content--productName Рюкзак "Ready for scool"
                        .content__productPrice
                            p.content--productPrice 245.50 <sub>грн</sub>
                .content__product__wrap
                    .content__img
                        img(src="http://placehold.it/225x225")
                    .content__product
                        .content__productName
                            p.content--productName Рюкзак "Ready for scool"
                        .content__productPrice
                            p.content--productPrice 245.50 <sub>грн</sub>